.box{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: solid 1px black;

}
.text{
    margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.image{
    width: 4rem;
    height: 7rem;
}