*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color:black;
  color: aliceblue;
}

a{
  text-decoration: none; 
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}
li{
  list-style: none;
}


a:hover{
  color: red;
  height: auto;
}
.carousel-control-prev-icon{
  position: absolute;
  top: 88%;
  left: 0.7rem;

}
.carousel-control-next-icon{
  position: absolute;
  top: 88%;
  right: 0.7rem;

}
.custom-shape-divider-bottom-1672417282 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672417282 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 261px;
}

.custom-shape-divider-bottom-1672417282 .shape-fill {
  fill: #E5374D;
}

body::-webkit-scrollbar {
  width: 0.2em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color:#222222;
}
.licon{

  color: red;
    font-size: 3rem;
    animation-duration: 3s;
    animation-name: spinner;
    animation-iteration-count: infinite;
  }

.loader{
  width: 100%;
  height: 100vh;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spinner {
  from {
   transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);

  }
}